@import "_colors.scss"; 

form {
    background-color: $white;   // Benytter fargene opprettet i _colors.scss
    padding: 3rem;
    color: $black;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;    //For å runde hjørnene
    gap: 0.5rem; //Skaper luft mellom elementene i form

    input {
        padding: 1rem;
        border: 1px solid $black;
    }
}